SECRET_KEY=secret_key
DEBUG=True/False

DB_ENGINE=database_engine
DB_HOST=database_host
DB_NAME=database_name
DB_USER=database_username
DB_PASSWORD=database_password
DB_PORT=database_port

LANGUAGE_CODE=language_code
TIME_ZONE=time_zone_code

AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key

EMAIL_BACKEND=email_backend
AWS_SES_REGION_NAME=aws_ses_region_name
AWS_SES_REGION_ENDPOINT=aws_ses_region_endpoint